# Avance de la practica 1

- como primer punto vamos a extraer el archivo con el que vamos a trabajar
- Las librerias con las que estaremos trabajando

In [3]:
import pandas as pd

In [52]:
#C:\Users\jesus.sauceda\Desktop\Mario\TAREAS ESCUELA\Mineria de datos 7to semestre\base de datos (suicidios) pia
Base = pd.read_excel("/Users/jesus.sauceda/Desktop/Mario/TAREAS ESCUELA/Mineria de datos 7to semestre/base de datos (suicidios) pia.xlsx")

### Haremos un visualizacion de los datos para saber el nombre de las columnas y una idea de que es lo que contiene

In [53]:
Base.head(5)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,Continent
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,2156624900,796,Generation X,Europe
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,2156624900,796,Silent,Europe
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,2156624900,796,Generation X,Europe
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,2156624900,796,G.I. Generation,Europe
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2156624900,796,Boomers,Europe

### Eliminaremos las columnas que no necesitaremos para el analisis, esto para poder trbajar con el archivo de manera mas facil

In [54]:
del Base['country-year']
del Base['HDI for year']
del Base['gdp_for_year ($) ']
del Base['generation']
del Base['suicides/100k pop']

### Como podemos observar que las columnas estan en ingles, haremos la traduccion

In [55]:
Base.rename(columns = {'country':'Pais','year':'Año','sex':'Sexo','age':'Intervalo de edad',
'suicides_no':'Numero de suicidios','population':'Poblacion','gdp_per_capita ($)':'Ingreso per capita','Continent':'Continente'})

,Pais,Año,Sexo,Intervalo de edad,Numero de suicidios,Poblacion,Ingreso per capita,Continente
0,Albania,1987,male,15-24 years,21,312900,796,Europe
1,Albania,1987,male,35-54 years,16,308000,796,Europe
2,Albania,1987,female,15-24 years,14,289700,796,Europe
3,Albania,1987,male,75+ years,1,21800,796,Europe
4,Albania,1987,male,25-34 years,9,274300,796,Europe
...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2309,Asia
27816,Uzbekistan,2014,female,75+ years,9,348465,2309,Asia
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2309,Asia
27818,Uzbekistan,2014,female,5-14 years,44,2631600,2309,Asia
27819,Uzbekistan,2014,female,55-74 years,21,1438935,2309,Asia

### puede utilizarse un for adentro del un if

### Visualizaremos el tipo de texto que usaremos

In [56]:
Base.dtypes

country               object
year                   int64
sex                   object
age                   object
suicides_no            int64
population             int64
gdp_per_capita ($)     int64
Continent             object
dtype: object

### Pondremos un grafico sobre Hombres y Mujeres

In [ ]:
for

In [51]:
Base['Sex'].value_counts().plot.bar()

KeyError: 'Sex'